body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #ffffff;
}

.landing-head {
    margin: 0 auto;
}

.container {
    width: 1200px;
}

.header__contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: flex-start;
    align-items: center;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #6a6a6a;
}

.header__contact_headline-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: #6a6a6a;
}

.header__contact-item {
    padding: 15px 0 15px 60px;
}

.header__logo {
    display: block;
}

.header__work-time {
    background: url(../img/clock.png) no-repeat left center;
}

.header__mail-us {
    background: url(../img/Mail.png) no-repeat left center;
}

.header__call-us {
    background: url(../img/Call.png) no-repeat left center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 30px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #898989;
}

.header__nav a:active {
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 30px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: black;
}

.header__social i {
    padding-right: 10px;
    padding-left: 10px;
}

.header__social {
    padding-right: 100px;
}

.first-section {
    background: url(../img/Layer\ 10.png) no-repeat center center;
}

.first-section__main {
    margin: 0 auto;
}

.first-section__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.first-section__description h2 {
    text-align: center;
    margin-top: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #474747;
}

.first-section__description p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #616161;
}

.first-section__button {
    display: inline-block;
    text-align: center;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    background-color: #1a9bdc;
    color: white;
}

.second-section {
    background: linear-gradient(to right, #43b1d2 0%, #37c3a8 100%);
    color: white;
}

.second-section__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}

.second-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-section__item img {
    padding-top: 50px;
}

.second-section__item h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.second-section__item p {
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.third-section__container {
    margin: 0 auto;
}

.third-section__heading h2 {
    text-align: center;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #474747;
}

.third-section__heading p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #616161;
}

.third-section__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.third-section__main_left,
.third-section__main_right {
    padding: 25px 0;
}

.third-section__main_center {
    display: flex;
}

.third-section__item_left-top {
    background: url(../img/medical-item.png) no-repeat left center;
}

.third-section__item_left-bottom {
    background: url(../img/ocular.png) no-repeat left center;
}

.third-section__item h3 {
    padding-left: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 80px;
    color: #616161;
}

.third-section__item p {
    text-align: left;
    padding-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #616161;
}

.fourth-section {
    background: url(../img/section4-theme.jpg) no-repeat center center;
}

.fourth-section__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fourth-section__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 100px;
}

.fourth-section__item img {
    margin: 0 auto;
}

.fourth-section__numeral {
    margin: 30px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.fourth-section__underline {
    height: 5px;
    width: 85px;
    background-color: white;
}

.fourth-section__description {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
}

.fifth-section__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #737373;
}

.fifth-section__work-headline {
    grid-area: left-headline;
}

.fifth-section__creative-headline {
    grid-area: right-headline;
}

.fifth-section__work-description {
    grid-area: left-description;
}

.fifth-section__creative-description {
    grid-area: right-description;
}

.ifth-section__about-1 {
    grid-area: about-1;
}

.fifth-section__about-2 {
    grid-area: about-2;
}

.fifth-section__read-more {
    grid-area: read-more;
    text-align: center;
    padding: 25px;
}

.fifth-section__about-1,
.fifth-section__about-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-section__aside {
    grid-area: aside;
}

.fifth-section__desk {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "left-headline left-headline right-headline" "left-description left-description right-description" "about-1 about-2 aside" "read-more read-more .";
    margin: 0 auto;
    padding: 25px;
}

.fifth-section__work-headline,
.fifth-section__headline {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #494949;
}

.fifth-section__about-headline {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #6f6f6e;
}

.fifth-section__about-date {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #0087be;
}

.fifth-section__button_blue {
    position: relative;
    padding: 15px 60px;
    text-decoration: none;
    color: white;
    background-color: #0087be;
    display: block;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.fifth-section__button_blue::before {
    content: url(../img/circle-arrow.png);
    position: absolute;
    left: 10px;
    top: 8px;
}

.fifth-section__button_gray {
    position: relative;
    padding: 15px 60px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    background-color: #e2e2e2;
    display: block;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.fifth-section__button_gray::before {
    content: url(../img/circle-arrow.png);
    position: absolute;
    left: 10px;
    top: 8px;
}

.fifth-section__button {
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    background-color: #0087be;
}

.six-section {
    background: url(../img/six-section.jpg) no-repeat center center;
}

.six-section__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: "six-title six-title six-title" "six-description six-description six-description" "six-item-1 six-item-2 six-item-3" "six-item-4 six-item-5 six-item-6";
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding: 30px 0;
}

.six-section__title {
    grid-area: six-title;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.six-section__description {
    grid-area: six-description;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.six-section__item-1 {
    grid-area: six-item-1;
}

.six-section__item-2 {
    grid-area: six-item-2;
}

.six-section__item-3 {
    grid-area: six-item-3;
}

.six-section__item-4 {
    grid-area: six-item-4;
}

.six-section__item-5 {
    grid-area: six-item-5;
}

.six-section__item-6 {
    grid-area: six-item-6;
}

.seven-section__team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 20px;
}

.seven-section__headline {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #474747;
}

.seven-section__description {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #6a6a6a;
}

.seven-section__human {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seven-section__human h3 {
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #6a6a6a;
}

.seven-section__human p {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6a6a6a;
}

.seven-section__human-social {
    display: flex;
}

.seven-section__human-social a {
    display: block;
    padding: 10px;
    color: #0087be;
}

.eight-section {
    background-color: #e2e2e2;
}

.eight-section__offer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #6a6a6a;
}

.eight-section__text {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 80px;
}

.eight-section__link {
    display: flex;
    justify-content: center;
}

.eight-section__button {
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    color: white;
    background-color: #0087be;
}

.footer {
    background-color: #171717;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 40px;
    font-size: 16px;
    color: #8d8d8d;
}

.footer__headline {
    font-size: 22px;
    color: white;
}

.footer__contacts {
    grid-column-start: 1;
    grid-column-end: 2;
}

.footer__mail {
    background: url(../img/footer-mail.png) no-repeat center left;
    margin-top: 40px;
    padding-left: 55px;
}

.footer__phone {
    background: url(../img/footer-phone.png) no-repeat center left;
    margin-top: 40px;
    padding-left: 55px;
}

.footer__map {
    background: url(../img/footer-map.png) no-repeat center left;
    margin-top: 40px;
    padding-left: 55px;
}

.footer__social {
    margin-top: 40px;
}

.footer__social a {
    padding: 5px;
    color: white;
}

.footer__links a,
.footer__services a {
    background: url(../img/arrow.png) no-repeat center left;
    margin-top: 20px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #8d8d8d;
    display: block;
}

.footer__services a:nth-child(2),
.footer__links a:nth-child(2) {
    margin-top: 40px;
}

form {
    font-size: 25px;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 40px;
    color: #8d8d8d;
    background-color: #171717;
    border: none;
    border-bottom: 2px solid gray;
}

.footer__submit {
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 35px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25px;
    color: white;
    background-color: #0087be;
}

.copy {
    text-align: center;
    padding: 40px;
    background-color: #1a1a1a;
    font-size: 13px;
    color: #584e4e;
}